
h2{
    text-align: center;
    font-size: 1.9em;
    margin-bottom:20px;
    margin-top: 40px;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.formDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.formDiv div {
    margin: 20px;
    width: 200px;
}

.formDiv div label {
    margin-bottom: 5px; /* Ajouter un espacement sous l'étiquette */
}

.formDiv div input {
    width: 100%; /* Utiliser toute la largeur disponible */
}

#divErrors {
    margin-top: 20px;
    border: 1px solid black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    background-color: orange;
}

.errors {
    padding-bottom: 10px;
}

.errors:nth-child(1) {
    padding-top: 10px;
}

#send {
    width: 80px;
    height: 30px;
    margin: 20px;
    background-color: orange;
}

@media (max-width: 767px) {

    h2{
        font-size: 1.3em;
    }

    form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

}