* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    overflow: hidden; /* Évitez le défilement vertical */
}

header{
    font-family: "Poppins", sans-serif;
    display: flex;
}

.navbar-nav .nav-item:hover .nav-link {
    color: whitesmoke;
}

.navbar-nav{
    display: flex;
    flex-direction: row;
}

#nav {
    flex: 2;
}

.content{
    flex: 1;
}

.content {
    padding: 10px;
    margin-right: 10px;
}

.content {
    white-space: nowrap;
    position: relative; /* Permet le positionnement relatif pour les éléments enfants absolus */
}

.content h1 {
    color: #fff;
    font-size: 3em;
    position: absolute;
    top: 0; /* Positionnez en haut */
    left: 0; /* Positionnez à gauche */
    transform: translate(20%, 20%); /* Ajustez le décalage */
}

.content h1:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 1px #000000;
}

.content h1:nth-child(2) {
    color: orange;
    animation: animate 4s ease-in-out infinite;
}

.mobile-only{
    display: none;
}

@keyframes animate {
    0%, 100% {
        clip-path: polygon(
                0% 45%,
                16% 44%,
                33% 50%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%
        );
    }

    50% {
        clip-path: polygon(
                0% 60%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%
        );
    }
}

@media (max-width: 767px) {

    .content {
        display: none;
    }

    .mobile-only {
        display: block;
    }

    .navbar-toggler {
        order: -1;
    }

    .mobile-only h1 {
        color: #000000;
        font-size: 2em;
        position: absolute;
        top: 0; /* Positionnez en haut */
        left: 20%; /* Positionnez à gauche */
        transform: translate(20%, 20%); /* Ajustez le décalage */
    }

    .mobile-only h1:nth-child(1) {
        color: transparent;
        -webkit-text-stroke: 1px #000000;
    }

    .mobile-only h1:nth-child(2) {
        color: white;
        animation: animate 4s ease-in-out infinite;
    }

}

