#internship {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15px;
}

#internship > div {
    border: 1px solid black;
    width: 350px;
    height: 390px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
#internship > div > div {
    width: 100%;
    height: 350px;
}

#internship > div > div:nth-child(2) {
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: orange;
}
