
html {
    overflow-y: scroll;
}

#title {
    background-color: orange;
    border-radius: 4px;
    text-align: center;
}

#title h5 {
    padding-bottom: 10px;
    padding-top: 10px;
}

.card{
    width: 23rem;
}

section {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


#map {
    width: 50%;
    height: 50vh;
    margin: 5vh auto;
}

@media (max-width: 767px) {

   .card{
       margin-bottom: 30px;
       width: 20rem;
   }

}
