
#fullInternships {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.internship {
    margin: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: calc(33.33% - 50px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 470px;
    overflow-y: auto;
    overflow: auto;
}

#no_internship{
    font-size: 2em;
}

.internship > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.internship > div > img {
    width: 60%;
    margin: auto;
}

.internship h5 {
    margin-top: 0;
    margin-bottom: 10px;
}

.internship ul {
    list-style: none;
    padding: 0;
}

.internship ul li {
    margin-bottom: 10px;
}

.internship img {
    max-width: 100%;
    border-radius: 8px;
}

.internship .btn {
    display: inline-block;
    background-color: #ffc107;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.internship .btn:hover {
    background-color: #ffca28;
}

@media only screen and (max-width: 768px) {
    .internship {
        width: calc(50% - 40px); /* Deux cartes par ligne sur les écrans moyens */
        max-height: 315px;
    }
}

@media only screen and (max-width: 576px) {
    .internship {
        width: calc(100% - 40px); /* Une carte par ligne sur les petits écrans */
    }

    #no_internship{
        font-size: 1em;
    }
}
