<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>s'Cool Family</title>
    <link rel="stylesheet" href="/css/addInternship.css">
</head>
<body>
<header>
    <%- include('header') %>
</header>
<section>
    <h2> Création d'un stage </h2>
    <form action="/internship/addInternship" method="post" enctype="multipart/form-data">
        <div class="formDiv">
            <div>
                <label for="image">Image :</label>
                <input type="file" name="image_file" id="image" accept="image/png"">
            </div>
            <br>
            <div>
                <label for="name">Nom du stage*:</label>
                <input type="text" name="name" id="name">
            </div>
            <br>
            <div>
                <label for="numberPlaces">Nombre de places*:</label>
                <input type="number" name="numberPlaces" id="numberPlaces"/>
            </div>
            <br>
            <div>
                <label for="startDate">Début du stage*: </label>
                <input type="date" name="startDate" id="startDate"/>
            </div>
            <br>
            <div>
                <label for="endDate">Fin du stage*: </label>
                <input type="date" name="endDate" id="endDate"/>
            </div>
            <br>
            <div>
                <label for="activated">Activer: </label>
                <input type="checkbox" name="activated" id="activated"/>
            </div>
        </div>
        <div class="formDiv">
            <div>
                <label for="startHour">Heure de début*: </label>
                <input type="time" name="startHour" id="startHour"/>
            </div>
            <br>
            <div>
                <label for="endHour">Heure de fin*: </label>
                <input type="time" name="endHour" id="endHour" />
            </div>
            <br>
            <div>
                <label for="price">Prix/Inscription*: </label>
                <input type="number" name="price" id="price"/>
            </div>
            <br>
            <div>
                <label for="fromAge">Âge à partir de *: </label>
                <input type="number" name="fromAge" id="fromAge"/>
            </div>
            <br>
            <div>
                <label for="place">Lieu*: </label>
                <input type="text" name="place" id="place"/>
            </div>
            <br>
            <div>
                <label for="desc">Description: </label>
                <input type="text" name="desc" id="desc" size="40"/>
            </div>
        </div>
        <input id="send" type="submit" value="Valider">
    </form>
</section>
<script>
    let activated = document.getElementById("activated");
    if (activated.value === 'true'){
        activated.checked = true;
    };
    activated.addEventListener("click", function() {
        if (activated.checked){
            activated.value = true;
        };
    });

</script>
</body>
</html>
