<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>s'Cool Family</title>
    <link rel="stylesheet" href="/css/connection.css">
</head>
<body>
<header>
    <%- include('headerConnection') %>
</header>
<h3> Connexion </h3>
<section>
    <form action="/admin/testConnection" method="post">
        <div class="formDiv">
            <div>
                <label for="username">Nom d'utilisateur </label>
                <input type="text" name="username" id="username">
            </div>
            <br>
            <div>
                <label for="password">Mot de passe </label>
                <input type="password" name="password" id="password">
            </div>
            <br>
            <% if (error){ %>
            <div>
                <p> <%= error %> </p>
                <% }%>
            </div>
            <input id="send" type="submit" value="Se connecter">
            <a href="/public/stages" id="publicURL">Retourner sur le site public</a>
        </div>
    </form>
</section>
</body>
</html>