<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>s'Cool Family</title>
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
<footer>
    <ul>
        <li><a href="mailto:scoolfamily@outlook.com">Besoin d'aide?</a></li>
        <li><a href="">Qui sommes-nous?</a></li>
        <li><a href="">Règlement</a></li>
    </ul>
    <p>© 2024 s'Cool Family. Tous droits réservés.</p>
</footer>
</body>
</html>