<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>s'Cool Family</title>
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
<footer>
    <ul>
        <li><a href="mailto:scoolfamily@outlook.com">Besoin d'aide?</a></li>
        <li><a href="">Qui sommes-nous?</a></li>
        <li><a href="">Règlement</a></li>
    </ul>
    <p>© 2024 s'Cool Family. Tous droits réservés.</p>
</footer>
<script>
    const footer = document.querySelector('footer');
    console.log(footer)
    window.addEventListener("scroll", function() {
        // Vérifie si on est à la fin de la page
        if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
            footer.style.transform = 'translateY(100%)';
        }
        else {
            footer.style.transform = 'translateY(0%)';
        }
    });
</script>
</body>
</html>