<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/gallery.css">
    <link rel="stylesheet" href="/css/popup.css">
    <title>s'Cool Family</title>
</head>
<body>
<%- include('headerPublic') %>
<section>
    <% if (data.length > 0){ %>
    <div id="select_box">
        <select>
            <option></option>
        </select>
    </div>
</section>
<script src="/cookiePopup.js"></script>
<%- include('footerPublic') %>
</body>
</html>