<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>s'Cool Family</title>
  <link rel="stylesheet" href="/css/header.css">
</head>
<body>
<header>
  <h1> <a href="/admin/home">s'Cool Family</a></h1>
  <p style="text-align: center;">version 0.0.1b</p>
  <button id="burger">Menu</button>
  <ul class="menu-horizontal">
    <li><a href="/admin/internships">Stages</a></li>
    <li><a href="/admin/interns">Inscriptions</a></li>
    <li><a href="/admin/param">Paramètres</a></li>
    <li><a href="/admin/connection?param=delete_cookie">Se déconnecter</a></li>
  </ul>
</header>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const burger = document.getElementById('burger');
    const menu = document.querySelector('.menu-horizontal');

    burger.addEventListener('click', () => {
      menu.classList.toggle('show');
    });
  });
</script>
</body>
</html>