<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>s'Cool Family</title>
  <link rel="stylesheet" href="/css/header.css">
</head>
<body>
<header>
  <h1> <a href="/home">s'Cool Family</a></h1>
  <ul class="menu-horizontal">
    <li><a href="/internships">Stages</a></li>
    <li><a href="#">Inscriptions</a></li>
    <li><a href="/param">Paramètres</a></li>
    <li><a href="/connection?param=delete_cookie">Se déconnecter</a></li>
  </ul>
</header>
</body>
</html>