<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>s'Cool Family</title>
    <link rel="stylesheet" href="/css/internships.css">
</head>
<body>
<header>
    <%- include('header') %>
</header>
<section>
    <br/>
    <div id="internship">
        <% if (data.length == 0){ %>
        <p> Il n'y a aucun stage prévu.</p>
        <% } %>
        <% data.forEach(function(elem) { %>
        <div id="divImg">
            <div id="subDivImg">
                <input id="idInternship" value="<%= elem.id %>" type="hidden"/>
                <img src="data:image/png;base64,<%= elem.image.toString('base64') %>">
                <p id="edit"> Modifier </p>
            </div>
            <div id="name">
                <p> <%= elem.name %></p>
                <% if (elem.activated){ %>
                <p id="pGreen"> Actif </p>
                <% } else { %>
                <p id="pRed"> Désactivé </p>
                <% } %>
            </div>
        </div>
        <% }); %>
    </div>
</section>
<script>
    const divImg = document.querySelectorAll('[id=divImg]');
    let subDivImg = [];
    divImg.forEach(div => subDivImg.push(div.querySelector('[id=name]')));
    divImg.forEach(div => subDivImg.push(div.querySelector('[id=subDivImg]')));
    divImg.forEach(div => subDivImg.push(div.querySelector('[id=idInternship]')));
    function resizeImg() {
        const img = document.querySelectorAll('img');
        img.forEach(i => {
            i.style.width = '100%';
            i.style.height = '100%';
        });
    };

    subDivImg.forEach(ev => ev.addEventListener('click', function(){
        console.log('coucou')
        let id = ev.querySelector('[id=idInternship]');
        console.log(id);
        window.location.href = "/internships/editInternship?id="+id.value;
    }));

    subDivImg.forEach(ev => ev.addEventListener('mouseover', function(){
        let p = ev.querySelector('p');
        if (p.id === 'edit'){
            p.style.visibility = 'visible';
        };
        let img = ev.querySelector('img');
        if (img){
            img.style.visibility = 'hidden';
        };
    }));

    subDivImg.forEach(ev => ev.addEventListener('mouseout', function(){
        let p = ev.querySelector('p');
        if (p.id === 'edit'){
            p.style.visibility = 'hidden';
        };
        let img = ev.querySelector('img');
        if (img){
            img.style.visibility = 'visible';
        };
    }));

    resizeImg();
</script>
</body>
</html>