<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>s'Cool Family</title>
    <link rel="stylesheet" href="/css/menuPublic.css">
</head>
<body>
<header>
    <div class="content">
        <h2>Les stages à venir</h2>
        <h2>Les stages à venir</h2>
    </div>
</header>
<section>
    <div id="internship">
        <% if (data.length == 0){ %>
        <p> Il n'y a aucun stage prévu.</p>
        <% } %>
        <% data.forEach(function(elem) { %>
        <div id="divImg">
            <div id="subDivImg">
                <input id="idInternship" value="<%= elem.id %>" type="hidden"/>
                <% if (elem.image){ %>
                <img src="data:image/png;base64,<%= elem.image.toString('base64') %>">
                <% } else { %>
                <img>
                <% } %>
            </div>
            <div id="name">
                <p> <%= elem.name %></p>
            </div>
        </div>
        <% }); %>
    </div>
</section>
</body>
</html>