<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>s'Cool Family</title>
    <link rel="stylesheet" href="/css/menuPublic.css">
</head>
<body>
<header>
    <div class="content">
        <h2>Les stages à venir</h2>
        <h2>Les stages à venir</h2>
    </div>
</header>
<section>
</section>
<script src="/flux.js"></script>
</body>
</html>